<%- include("_header") %>
  <body style="background-color: <%= background %>">
    <h1>SUPER TEMPLATE FOR <%= name %> <% 64*128 %>!</h1>
    <% for(let i = 0; i < someRandomNumber; i++){ %>
    <p>Some random number : <%= someRandomNumber %></p>
    <% } %>
  </body>
  <script>
    console.log("WAZZAAA")
  </script>
</html>
